# programs
alias v="$EDITOR"

# config files
alias ar="v ~/.aliases"
alias vr="v ~/.config/nvim/init.vim"
alias vdr="ffind ~/.config/nvim"
alias vri="v ~/.config/nvim/init.vim"
alias zr="v ~/.zshrc"
alias sr="ffind ~/.config/scripts"
alias tr="v ~/.tmux.conf"

# source zsh config
alias sz="source ~/.zshrc && echo 'Refreshed Zsh'"
alias sv="source ~/venv/default/bin/activate && echo 'Refreshed venv'"

# ssh
alias sl="ssh -Y achen@10.1.2.12"

# Cloud Dev workflow
alias ng="ngrok http -subdomain=mongodb-cloud-andrew-chen 8080"
alias serve="cd ~/mms/server && ant mms.server.local -Dskip.assets=true"
alias dserve="cd ~/mms/server && ant mms.server.local -Djvm.debug.port=5005 -Djvm.debug=y -Dskip.assets=true -Djvm.debug.suspend=n"
alias daemon="cd ~/mms/server && ant daemon.local"
alias client="cd ~/mms/client && npm start"
alias bazel="/mms/bazelisk"

# node
alias ni="npm install"
alias nri="npm run init"
alias nr="npm run"
alias yup="yarn upgrade --latest"

# baas
alias baas_db="mongod --replSet local --fork --logappend --logpath ~/db/logsmongod.log --dbpath ~/db/data/"
alias baas="cd $BAAS_PATH && go run -exec=\"env LD_LIBRARY_PATH=$LD_LIBRARY_PATH\" ./cmd/server/main.go --configFile ./etc/configs/local_config.json"
alias baascloud="cd $BAAS_PATH && go run -exec=\"env LD_LIBRARY_PATH=$LD_LIBRARY_PATH\" ./cmd/server/main.go --configFile ./etc/configs/local_cloud_dev_config.json"
alias baasmms="cd $BAAS_PATH && go run -exec=\"env LD_LIBRARY_PATH=$LD_LIBRARY_PATH\" ./cmd/server/main.go --configFile ./etc/configs/local_mms_config.json"
alias baas_test="cd $BAAS_PATH && go run -exec=\"env LD_LIBRARY_PATH=$LD_LIBRARY_PATH\" ./cmd/server/main.go --configFile ./etc/configs/test_config.json"
alias got="go test -exec=\"env LD_LIBRARY_PATH=$LD_LIBRARY_PATH\" -v -tags debug"
alias baas_lint='go run github.com/golangci/golangci-lint/cmd/golangci-lint run ./...'
alias test_db='mongod --replSet localTest --port 26000 --dbpath /tmp/data-test-26000 --logpath /tmp/data-test-26000/mongod.log --fork'
