# Aliases

# config files
alias vr="nvim ~/.config/nvim/init.vim"
alias zr="nvim ~/.zshrc"
alias ar="nvim ~/.aliases"
alias hr="nvim ~/.hyper.js"
alias cr="nvim ~/.chunkwmrc"
alias skhr="nvim ~/.skhdrc"

# launch programs
alias p="python"
alias pe="pipenv"
alias v="nvim"
alias pip='pip3'
alias b='brew'
alias bc='brew cask'
alias lc='colorls'

# brew services
alias rchunk="brew services restart chunkwm"
alias rskhd="brew services restart skhd"

# ssh
alias linuxlab="ssh achen8@rainman.srcit.stevens-tech.edu"
alias sshll='ssh locallending@ww1.bensommer.net'
alias sshhome='ssh andrew@chen-server.mynetgear.com'

# latex
alias ltcp="tmux -c 'latexmk -pdf -pvc -shell-escape main.tex'"
alias ltref='open ~/Documents/useful/latex-guide.pdf'
alias cpnotes="pandoc -s -V geometry:margin=1in -o notes.pdf notes.md"

# zips
alias tzip='tar -czvf'

# open files
alias or="open ~/Job-Hunting/resume/resume_cv.pdf"

# go
alias GOPATH=$HOME/go
alias GOPATH="~/go"

# kubectl
alias k="kubectl"
