# programs
alias v="$EDITOR"

# config files
alias ar="v ~/.aliases"
alias vr="v ~/.config/nvim/init.vim"
alias zr="v ~/.zshrc"

# source zsh config
alias sz="source ~/.zshrc && echo 'Refreshed Zsh'"
